a{
    text-decoration: none;
    
}

.main_container{
    font-size: 0.7rem;
    text-decoration: none;
    max-height: 50vh;
    overflow: hidden;
    color: #575025;
    position: relative;
}

.main_container::before{
    content: "";
    position: absolute;
}

.main_container::before{
    content: "";
    position: absolute;
}

.image_container{
    height: 29vh;
    border-radius: 7px;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_container h2{
    color: white;
}

.temperaments_container{ /*que hermoso es grid*/
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 0.7rem;
}

.temperaments_container h3{
    margin: 0 0.3rem 0.4rem 0.3rem;
    color: rgb(196, 209, 20);
    font-size: 80%;
}